HOSTNAME="http://localhost:3000"
# DATABASE_URL="file:./dev.db"
GOOGLE_CLIENT_ID="replace_me"
GOOGLE_CLIENT_SECRET="replace_me"
NEXTAUTH_SECRET="openssl rand -base64 32"
PADDLE_API_KEY=
PADDLE_WEBHOOK_SECRET=
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=
NEXT_PUBLIC_PADDLE_PRICE_ID=
NEXT_PUBLIC_PADDLE_ENV=sandbox
NEXT_PUBLIC_PROJECT_PLANNER_ID="replace_me"
NEXT_PUBLIC_SKIP_EVENT=true
